.formControl {
    padding: 0!important;
    margin: 0!important;
    position: inherit!important;
}
.formControl.error input,
.formControl.error textarea {
    border:1px solid red;
}
.formControl.error span {
    color: red;
}
.formSummaryError{
    padding: 5px;
    color: red;
}