/* General */
/*Contenedor*/
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "h h h" "a m m";
  grid-template-columns: 2.5fr 10fr;
  /* grid-gap: 10px; */
}
.app-wrapper-content {
    grid-area: m;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    margin-top: 1em;
    margin-left: 1em;
}



